#gantt-chart {
	margin-top: 10px;
}

.gantt .bar {
	fill: #f5f9ff;
	stroke: #ccdcf3;
	user-select: none !important;
	-webkit-user-select: none !important;
}

.gantt .bar-wrapper:hover .bar,
.gantt .bar-wrapper.active .bar {
	fill: #e1edff;
}

.gantt .bar-label {
	font-weight: unset;
	fill: #304b6f;
}

.gantt-container .popup-wrapper {
	opacity: 0;
}

.gantt-container .popup-wrapper,
.gantt-container .popup-wrapper .subtitle {
	color: inherit;
}

.gantt-container .popup-wrapper .title {
	border-bottom-color: #ebf3ff;
}

.gantt .bar-wrapper.color-yellow .bar-progress {
	fill: #fbda38;
}

.gantt .bar-wrapper.color-blue .bar-progress {
	fill: #4694ff;
}

.gantt .bar-wrapper.color-green .bar-progress {
	fill: #4ba975;
}

.gantt .bar-wrapper.color-purple .bar-progress {
	fill: #856be2;
}

.gantt .bar-wrapper.color-red .bar-progress {
	fill: #ff2a2a;
}

.gantt .bar-wrapper.color-orange .bar-progress {
	fill: #fb9531;
}

.gantt .bar-wrapper.color-grey .bar-progress {
	fill: #a09c9c;
}

.gantt .bar-wrapper.color-brown .bar-progress {
	fill: #ab6333;
}

.gantt .bar-wrapper.color-deep_orange .bar-progress {
	fill: #e66e0b;
}

.gantt .bar-wrapper.color-dark_grey .bar-progress {
	fill: #737373;
}

.gantt .bar-wrapper.color-pink .bar-progress {
	fill: #f546d5;
}

.gantt .bar-wrapper.color-teal .bar-progress {
	fill: #49b1c1;
}

.gantt .bar-wrapper.color-cyan .bar-progress {
	fill: #49cce0;
}

.gantt .bar-wrapper.color-lime .bar-progress {
	fill: #5fc55f;
}

.gantt .bar-wrapper.color-light_green .bar-progress {
	fill: #4af74a;
}

.gantt .bar-wrapper.color-amber .bar-progress {
	fill: #f1d042;
}

.gantt .today-highlight {
	fill: #efff007a;
}

.plugin-header {
	margin-bottom: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items:center
}

@media (max-width: 767px) {
	.page #main .menu-inline {
		padding-top: 0;
	}

	.plugin-header {
			display:block
	}
}
